@import "tailwindcss";

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}
